.flex-base {
  display: flex;
  align-items: center
}
  
.space-between {
  @extend .flex-base;
  justify-content: space-between;
}

.space-around {
  @extend .flex-base;
  justify-content: space-around;
}

.start {
  @extend .flex-base;
  gap: 5px;
  justify-content: flex-start;
}

.end {
  @extend .flex-base;
  justify-content: flex-end;
}

.center {
  @extend .flex-base;
  justify-content: center;
  gap: 2rem;
}
