.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  background-color: rgb(27, 27, 27);
  border-bottom: 1px solid lighten($color: rgba(27, 27, 27), $amount: 10);
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  .wrapper {
    background-color: #FFF;
    border-bottom: 1px solid #c0c0c0;
  }  
}