.button-base {
  border-radius: 8px;
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    background-color: lighten($color: #1a1a1a, $amount: 2);
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.primary {
  @extend .button-base;
  background-color: #1a1a1a;
  color: white
}

.danger {
  @extend .button-base;
  background-color: #c70404;
  color: white
}

.default {
  @extend .button-base;
  background-color: #c0c0c0;
}

.md {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
}

.lg {
  padding: 0.8em 1.5em;
  font-size: 1.2em;
  font-weight: 500;
}

@media (prefers-color-scheme: light) {
  .primary {
    background-color: rgb(63, 63, 245);
  }

  .primary:hover {
    background-color: lighten($color: rgb(63, 63, 245), $amount: 2);
  }
}