.text-bold {
  font-weight: bold;
}

.text-muted {
  color: #9b9696;
}

.text-sm {
  font-size: small;
}

.text-md {
  font-size: medium;
}

.text-lg {
  font-size: large;
}

.text-xlg {
  font-size: x-large;
}